*{
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box;
}

.container{
    margin: 0 auto;
    padding: 0 50px;
}

/* <---------------------------------------
-------(Desktop size)----------------------
---------------------------------------> */

/* section(header) */

.header{
    background: url(../public/images/banner4.jpg) no-repeat center;
    height: 250px;
    position: relative;
    /* background-size: 100% 400px; */
    
}

.header::before{
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);

}

.header h2{
    text-transform: capitalize;
    font-size: 60px;
    color: #f3f3f3;
    text-align: center;
    padding-top: 50px;
    position: relative;
    z-index: 1;
}

.header_element{
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
    position: relative;
    z-index: 1;
}

.header_element span{
    color: #fb8500;
}

.header_element p{
    font-size: 23px;
    color: white;
}

.header_element i{
    padding-top: 5px; 
    color: white;
}

/* section(about us) */

.about_us{
    margin-top: 80px;   
}

.about_us_info{
    display: flex;
    align-items: center;
    gap: 40px;
}

.about_info_part{
    width: 50%;
}

.about_info_part h4{
    color: #fb8500;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
}

.about_info_part h2{
    font-size: 50px;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 50px;
    margin-top: 20px;
}

.about_info_part .about_text{
    font-size: 25px;
    font-weight: 500;
    text-transform: capitalize;
    margin-top: 20px;
}

.about_info_part p{
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;
}

.about_info_part a{
    font-size: 20px;
    border-bottom: 2px solid #fb8500;
    transition: 0.3s ease-in-out;
    font-weight: 400;
    border-radius: 0;
    display: inline-block;
    text-transform: capitalize;
    text-decoration: none;
    color: #000c04;
    margin-top: 20px;
}

/* section(our_history) */

.our_history{
    background-image: url(../public/images/banner2.jpg);
    margin-top: 80px;
    height: 500px;
    position: relative;
}

.our_history::before{
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.history_info{
    max-width: 800px;
    height: auto;
    position: absolute;
    top: 15%;
    left: 50%;
    
    justify-content: center;
}

.history_info h4{
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 400;
    color: #ef9936;
    text-transform: uppercase;
}

.history_info h2{
    font-weight: 500;
    font-size: 50px;
    color: #f3f3f3;
    text-transform: capitalize;
    margin-top: 10px;
}

.history_text{
    font-size: 17px;
    color: #f3f3f3;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 20px;
}

.sort_detail{
    display: flex;
    margin-top: 20px;
    color: white;
    gap: 30px;
}

.sort_detail_box{
    font-family: 'Open Sans', sans-serif;
}

.sort_text{
    margin-top: 5px;
}

/* section(Our_teams) */

.our_team{
    margin-top: 80px;
    background-color: rgba(147, 107, 232, 0.05);
    text-align: center;
    padding: 50px 0;
}

.team_info h4{
    font-size: 20px;
    font-weight: 400;
    color: #ef9936;
}

.team_info h2{
    font-size: 50px;
    font-weight: 500;
}

.guides_infobox{
    margin-top: 40px;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(4, 1fr);
}

.guide_details img{
    height: 350px;
    width: 260px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.guide_details img:hover {
    transform: scale(1.05);
}

.guide_details img:hover + .guide_name {
    color: orange;
}

.guide_name{
    margin-top: 20px;
    font-size: 30px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
}

.guide_position{
    margin-top: 5px;
    font-size: 20px;
    color: #696969;
}

.guide_social_site{
    margin-top: 15px;
}

.guide_social_site i{
    color: #4267B2;
    font-size: 25px;
    transition: 0.2s ease;
    cursor: pointer;
}

.guide_social_site i:hover{
    color: #ef9936;
}

/* section(footer) */


footer{
    background-color: black;
    margin-top: 50px;
}

.structure{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.footer_raw , .footer_raw_side{
    margin-top: 50px;
    margin-bottom: 50px;
}
.footer_raw h6{
    color: #ced4da;
    font-size: 25px;
    font-family: 'Castoro', serif;
    font-weight: 400;
    margin-bottom: 20px;
}

.footer_raw_side h6{
    color: #ced4da;
    font-size: 25px;
    font-family: 'Castoro', serif;
    font-weight: 400;
    margin-bottom: 20px;
}

.footer_raw li{
    color: #ced4da;
    text-decoration: none;
    list-style: none;
    font-family: 'Castoro', serif;
    color: #696969;
    margin-bottom: 10px;
    font-size: 17px;
}

.footer_raw_side li{
    color: #ced4da;
    text-decoration: none;
    list-style: none;
    font-family: 'Castoro', serif;
    color: #696969;
    margin-bottom: 10px;
    font-size: 17px;
}

.footer_raw_side li:hover{
    color: #ced4da;
    cursor: pointer;
}

.social_media{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.social_media span{
    color: #696969;
    font-size: 20px;
}

.social_media span:hover{
    color: #ced4da;
    cursor: pointer;
}

.copyright_line{
    border-top: 1px solid rgba(103, 99, 99, 0.14);
    padding: 30px 0;
    margin-top: 30px;
}

.copyright_line p{
    font-size: 17px;
    font-weight: 400;
    font-family: 'Castoro', serif;
    color: #696969;
    text-align: center;
}

.copyright_line p a{
    text-decoration: none;
    color: #fd9e02;
    margin-left: 5px;
    opacity: 0.8;
}
.fa-search::before {
    margin-left: -8px;
}

@media (min-width: 1024px) and (max-width: 1180px){
    .guides_infobox {
        margin-top: 40px;
        display: grid;
        justify-content: space-between;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}

@media (min-width: 769px) and (max-width: 1023px){
    .guides_infobox {
        margin-top: 40px;
        display: grid;
        justify-content: space-between;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .history_info{
        left: 100px;
    }
}

@media (max-width: 768px){
    .guides_infobox {
        margin-top: 40px;
        display: grid;
        justify-content: space-between;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .history_info{
        left: 10px;
    }

    .about_info_part p {
        font-size: 15px;
        font-weight: 400;
        line-height: 30px;
        font-family: 'Open Sans', sans-serif;
        margin-bottom: 20px;
    }

    .about_info_part .about_text {
        font-size: 20px;
        font-weight: 500;
        text-transform: capitalize;
        margin-top: 15px;
    }

    .about_info_part h2 {
        font-size: 30px;
        font-weight: 500;
        text-transform: capitalize;
        line-height: 40px;
        margin-top: 10px;
    }
}

@media (max-width: 550px){

    .about_info_part h2{
        font-size: 20px;
    }

    .about_info_part .about_text{
        margin-top: 0;
        font-size: 10px;
    }

    .about_info_part p{
        font-size: 10px;
        line-height: 15px;
        margin-bottom: 10px;
    }

    .about_info_part a{
        font-size: 10px;
        margin-top: 0;
    }
}