footer{
    background-color: black;
    margin-top: 50px;
}

.structure{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.footer_raw , .footer_raw_side{
    margin-top: 50px;
    margin-bottom: 50px;
}
.footer_raw h6{
    color: #ced4da;
    font-size: 25px;
    font-family: 'Castoro', serif;
    font-weight: 400;
    margin-bottom: 20px;
}

.footer_raw_side h6{
    color: #ced4da;
    font-size: 25px;
    font-family: 'Castoro', serif;
    font-weight: 400;
    margin-bottom: 20px;
}

.footer_raw li{
    color: #ffffff94;
    text-decoration: none;
    list-style: none;
    font-family: 'Castoro', serif;
    margin-bottom: 10px;
    font-size: 17px;
}

.footer_raw_side li{
    color: #ced4da;
    text-decoration: none;
    list-style: none;
    font-family: 'Castoro', serif;
    color: #696969;
    margin-bottom: 10px;
    font-size: 17px;
    color: #ffffff94;
}

.footer_raw_side li:hover{
    color: #ced4da;
    cursor: pointer;
}

.social_media{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.social_media i{
    color: #696969;
    font-size: 20px;
}

.social_media i:hover{
    color: #ced4da;
    cursor: pointer;
}

.copyright_line{
    border-top: 1px solid rgba(103, 99, 99, 0.14);
    padding: 30px 0;
    margin-top: 30px;
}

.copyright_line p{
    font-size: 17px;
    font-weight: 400;
    font-family: 'Castoro', serif;
    color: #696969;
    text-align: center;
}

.copyright_line p a{
    text-decoration: none;
    color: #fd9e02;
    margin-left: 5px;
    opacity: 0.8;
}
.fa-search::before {
    margin-left: -8px;
}